@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

* {
<<<<<<< HEAD
    margin: 0 !important;
=======
    margin: 0;
>>>>>>> 4fea773b487b5ab369d8c827ddb159ce4e83ddbd
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.navbar-custom {
    height: fit-content;
    padding: 40px 40px !important;
    background-color: #FFFFFF;
}

.container-fluid {
    align-items: center;
    gap: 10px;
}

.container-fluid img {
    width: 100px;
    
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.navbar-brand-custom {
    font-size: 40px !important;
}

.navbar-colapse-custom {
    justify-content: flex-end;

}


.nav-item a {
    font-size: 30px;
}

.nav-item a:hover {
    color: #E51B3E;
    transition: .5s;
}


/* MAIN */
.main {
    display: flex;
    width: 100%;
<<<<<<< HEAD
    height: fit-content;
}

/* Banner */
.main .banner {
=======
    height: 100vh;
    background-color: aquamarine;
}

/* Banner */
.main .banner-conteiner {
>>>>>>> 4fea773b487b5ab369d8c827ddb159ce4e83ddbd
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/banner.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.banner button {
=======
    background-image: url(../imgs/banner.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.banner-conteiner button {
>>>>>>> 4fea773b487b5ab369d8c827ddb159ce4e83ddbd
    width: 320px;
    height: 70px;
    background-color: #33bb690d;
    border: 1px solid #33BB69;
    border-radius: 12px;
<<<<<<< HEAD
    font-size: 25px;
}

.banner button:hover {
    transform: scale(1.5);
    transition: 1s;
    font-size: 30px;
    
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 60px !important;
}

.banner-content h2 {
    font-size: 90px;
    font-weight: bold;
    color: #E51B3E;
}

.banner-content p {
    font-size: 40px;
}

/* Cards */

.series {
    padding: 40px;
}

.top-series {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;

}

.card-series {

    display: flex;
    justify-content:center;    
    flex-wrap: wrap;
    min-height: 50vh;
    padding: 20px 100px;
    text-align: center;
    gap: 120px;
    /* background-color: #483b08; */
    /* border: 2px solid red; */

}

.card-series div {
    border-radius: 10px;
    background-color: black;
    
}

.card-series div:hover {

    /* width: 50vh;
    height: 58vh;
     */
    /* border: 1px solid #8b0000;
    border-radius: 12px; */
} 

.card-series img {
    border-radius: 10px 10px 0 0;
    height: 170px;

}

.card-series h5 {
    color: #b2b2b2;
    padding: 10px;


}

.card-series p {
    color: #b2b2b2;
    font-size: 12px;
    text-align: justify;
    padding: 0 15px;
    max-height: 110px; 
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;


}

.card-series a {
    background-color: rgb(237, 187, 5);
    color: #171717;
    font-weight: 700;
    border: #FFFFFF solid 2px;
    margin-bottom: 10px;
    font-size: 12px;

}
=======
}

>>>>>>> 4fea773b487b5ab369d8c827ddb159ce4e83ddbd

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #171717;
<<<<<<< HEAD
    padding: 20px;
=======
>>>>>>> 4fea773b487b5ab369d8c827ddb159ce4e83ddbd
}

.footer .footer-conteiner {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    padding: 10px;
}

.footer-conteiner .footer-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.footer-content h3 {
    color: #FFFFFF;
}

.footer-content p {
    color: #ffffff80;
}

.footer .footer-content-text {
    color: #ffffff80;
    margin-top: 20px;

}

@media (max-width:	425px) {
<<<<<<< HEAD
    .navbar-custom {
        padding: 20px 20px !important;
    }

=======
>>>>>>> 4fea773b487b5ab369d8c827ddb159ce4e83ddbd
    .footer .footer-conteiner {
        flex-direction: column;
        gap: 10px;
    }
<<<<<<< HEAD

    .container-fluid {
        padding: 0 !important;
        
    }
    .container-fluid img {
        width: 60px;
        
    }

    .navbar-logo a {
        font-size: 30px !important;
    }

    .banner-content h2 {
        font-size: 45px;
    }
    
    .banner-content p {
        font-size: 20px;
    }

    .banner button {
        width: 220px;
        font-size: 20px;
    }
    
=======
>>>>>>> 4fea773b487b5ab369d8c827ddb159ce4e83ddbd
}
